body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
    height: 50px;
}

.homepage {
  background-image: url(https://i.redd.it/tidtadk0m0p41.jpg);
  background-size: cover;
  height: 80vh;
  color: white;
}