body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #000000
}

.dropdown.select-city-form .btn.btn-primary {
  background-color: #6610f2;
}

.container-fluid.homepage .dropdown.select-city-form .btn.btn-primary,
.survey {
  background-color: #e0ffff;
  color: #6610f2;
  border-color: #e0ffff;
}

.survey:hover {
  background-color: #6610f2;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  color: black;
}

.row.mb-5 p {
  text-align: left;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  height: 60px;
}

.navbar-collapse.collapse.show {
  padding: 0 20px;
  background-color: #6610f2;
  z-index: 1000;
}

.dropdown-menu.show {
  max-height: 200px !important;
  overflow-y: auto !important;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://i.redd.it/tidtadk0m0p41.jpg);
  background-size: cover;
  height: 80vh;
  color: white;
}

.section-title {
  font-family: "Shizuru";
  background: #e3dde3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-width: fit-content;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.category-section {
  background: #f6f4f6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: fit-content;
}

.thumbnail-box {
  background: #f6f4f6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: fit-content;
  max-width: fit-content;
}

/* .city-image {
  padding-left:0px;
  padding-right: 0px
} */

.compare-city-name {
  background: #e3dde3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: fit-content;
}

.compare-city-content {
  background: #f6f4f6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: fit-content;
}

.public-profile {
  background: blue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: fit-content;
}

/*MAP SECTION*/
.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

/* .map {
  width: 30vh;
  height: 30vh;
}

.google-map {
  width: 150px;
  height: 150px;
} */

.pin {
  display: flex;
  align-items: center;
  width: 20px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}

@media screen and (max-width: 799px) {
  .row.mb-5 p {
    margin: 2rem 0rem;
  }

  .navbar-collapse.collapse.show li a {
    color: white;
    z-index: 1000;
    margin: 10px 0;
  }

  .navbar-collapse.collapse.show .dropdown-menu.show li a {
    color: black;
  }
}

.bold-text {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}

.link {
  color: black;
}
