body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
    height: 50px;
}

.homepage {
  background-image: url(https://i.redd.it/tidtadk0m0p41.jpg);
  background-size: cover;
  height: 80vh;
  color: white;
}

.category-section {
  background:#F6F4F6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width:fit-content;
}

.section-title {
  background: #E3DDE3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-width:fit-content;
}